extends layout

block content
table(style='border: 2px solid black')
            tr
                td: company
                td: #{job.company}
            tr
                td: salary
                td: #{job.salary}
            tr
                td: application
                td: #{job.application}
            tr
                td: city
                td: #{job.city}
            tr
                td: title
                td: #{job.title}   
            tr
                td: category
                td: #{job.category}            
